@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
a{
  transition: all .2s ease-in-out  ;
}
a:hover{
  background-color: rgb(121,23,12);
  width: 100%;
  border-radius: 8px;
  padding-block:10px;
}
